@use '../../styles/variables.scss' as *;

.editable-input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 400px;
  text-transform: uppercase;
  padding: 9px 12px;
  border: $border;
  border-radius: 2px;
  outline: none;
  transition: all $transition-duration;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: $border-color-hover;
  }

  &:active {
    border-color: $border-color-hover;
  }
}

.editable-input--auth {
  &::placeholder {
    opacity: 70%;
  }
}