@use '../../styles/variables.scss' as *;

.title__text {
  margin: 0;
  color: $text-color;
  display: flex;
  align-items: center;
  gap: 6px;
}

.title {
  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.title__edit {
  display: flex;
  gap: 10px;

  .button--save {
    width: auto;
    padding: 10px;
  }
}