$primary-color: #82b284;
$hover: #A4C7A5;
$secondary-color: #4A7857; 
$background-color: #fff;
$secondary-bg-color: #F7F7F7; 
$accent-bg-color: #EEEEEE;
$text-color: #222;
$light-text-color: #666; 

// Размеры
$sidebar-width: 48px;
$icon-size: 20px;
$padding: 20px;


// Шрифты
$font-family: 'Noto Sans', sans-serif;
$font-size: 16px;
$heading-font-size: 24px;

// Прочие переменные
$transition-duration: 0.3s ease-in-out 0.3s; 
$border: 1px solid #E5E5E5;

