.empty {
  display: flex;
  height: 90vh;
  width: 100%;

  .button {
    display: block;
  }
}

.empty__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}